body {
  font-family: "PT Sans", sans-serif;
}

.page-header {
  display: flex;
  background-color: teal;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: #212121;
  padding: 5px 15px;
}

.page-header__logo {
  margin-right: 20px;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__site-nav {
  margin-left: 20px;
}

.site-nav--vertical {
  flex-direction: column;
}

.site-nav__item {
}

.site-nav__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background-color: #1976d2;
}

.site-nav__link:hover {
  text-decoration: underline;
}

.site-nav__link--active {
  background-color: #212121;
}

.button {
  border: none;
  padding: 5px 10px;
  background-color: #212121;
  cursor: pointer;
}

.button--wide {
  padding-left: 30px;
  padding-right: 30px;
}

.button--primary {
  background-color: #1976d2;
}

.button--warning {
  background-color: #ff5252;
}

.button--active {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.button__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.button__text--uppercase {
  text-transform: uppercase;
}

.button__icon {
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
}
