/*
   Import partials below
*/
// @import "normalize";

.button {
  display: inline-block;

  &__icon {
    display: inline-block;
    width: 10px;
    height: 10px;

    @media (min-width: 500px) {
      .text {
        font-size: 20px;
      }
    }

    &:hover {
      background-color: red;

      @media (min-width: 500px) {
        .button {
          color: red;
        }
      }
    }
  }
}
