* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Pathway Gothic One', sans-serif;
  /* background-image: url(../images/page-bg.jpeg); */
  background-image: url(https://images.pexels.com/photos/724828/pexels-photo-724828.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #424242;
  background-blend-mode: overlay;
}

.wrapper {
  width: 1000px;
  margin: auto;
  padding-top: 20px;
}

/* Menu */
.menu {
  text-align: center;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #424242;
  font-size: 30px;
  border: 2px solid #424242;
  background-color: teal;
}

.menu a:hover {
  background-color: palevioletred;
  color: #fff;
}

/* Profile */
.profile {
  margin-top: 25px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #fff;
  padding-top: 25px;
}

/* User card */
.user-card {
  display: inline-block;
  width: 25%;
  padding: 10px;
  border-radius: 4px;
  vertical-align: top;
  background-color: #fff;
}

.user-card img {
  display: block;
  width: 100%;
}

.user-card h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  color: #424242;
  text-align: center;
}

.user-card p {
  font-size: 20px;
}

/* Postfeed */
.postfeed {
  display: inline-block;
  width: 73%;
  /*
    Обратите внимание на calc(2% - 4px).
    Мы задали ширину блока posfeed 73%, и хотим сделать слева отступ в 2%,
    чтобы в сумме была 100% ширина user-card + отступ + ширина postfeed.

    Но у нас есть вредный "зазор" в 4px между инлайн-блоками.

    Для того чтобы автоматически решить эту проблему используем функцию calc.
    Она принимает какие-то значения и возвращает результат вычислений.

    В нашем случае 2% - 4px вернет на свое место остаток операции вычитания
    4px из ширины равной 2% ширины profile.

    Таким образом нам даже не надо делать "хаки" с отрицательными маржинами.
    Это супер удобно :)

    Задали для user-card 25%, для postfeed 73%, а потом сделали отутп между
    user-card и postfeed в 2% - 4px и у нас все поместилось!
  */
  margin-left: calc(2% - 4px);
  vertical-align: top;
}

/* Post */
.post {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.post h3 {
  color: #424242;
  font-size: 24px;
}

.post p {
  margin-top: 10px;
  font-size: 20px;
}
